section.counter
    .container 
        .counter-list 
            .counter-item 
                h4.counter-number 42
                span.counter-title web design 
            .counter-item 
                h4.counter-number 123
                span.counter-title happy client
            .counter-item 
                h4.counter-number 15
                span.counter-title award winner
            .counter-item 
                h4.counter-number 99
                span.counter-title cup of coffee
            .counter-item 
                h4.counter-number 24
                span.counter-title members