footer.footer(id = "contact")
    .container 
        .footer-top 
            .footer-column
                a(href="#").footer-heading.footer-logo Mogo 
                p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span.text.text--light Follow us:
                    .footer-social-list 
                        a(href="#").footer-social-icon
                            i.fab.fa-facebook-f
                        a(href="#").footer-social-icon
                            i.fab.fa-twitter 
                        a(href="#").footer-social-icon
                            i.fab.fa-instagram 
                        a(href="#").footer-social-icon
                            i.fab.fa-pinterest-p
                        a(href="#").footer-social-icon
                            i.fab.fa-google-plus-g
                        a(href="#").footer-social-icon
                            i.fab.fa-youtube
                        a(href="#").footer-social-icon
                            i.fab.fa-tumblr
                        a(href="#").footer-social-icon
                            i.fab.fa-dribbble
                form.footer-form(action="javascript:void(0)")
                    input(type="email" placeholder="Your Email...").footer-form-input.text.text--light
                    button.footer-form-button Subscribe 
            .footer-column
                h3.footer-heading Blogs 
                a(href="#").footer-blog
                    img.footer-blog-image(src="../../images/img-blogs1.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
                        span.footer-blog-date.text.text--light Jan 9, 2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="../../images/img-blogs2.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title Consectetur adipiscing elit, sed do eiusmod tempor
                        span.footer-blog-date.text.text--light Jan 9, 2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="../../images/img-blogs3.png", alt="")
                    .footer-blog-info 
                        h4.footer-blog-title sed do eiusmod tempor incididunt ut labore
                        span.footer-blog-date.text.text--light Jan 9, 2016
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-image 
                        img(src="../../images/img-instagram1.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer2.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer3.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer4.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer5.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer6.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer7.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer8.png", alt="alt")
                    .footer-image 
                        img(src="../../images/img-footer9.png", alt="alt")
                a(href="#").footer-more.text.text--light View more photos
        .footer-copyRight &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>