section.quotes 
    .container 
        .quotes-container 
            //- i.fa.fa-angle-left.quotes-angle-left.quotes-arrow
            +quoteItem()
            +quoteItem()
            +quoteItem()
            //- i.fa.fa-angle-right.quotes-angle-right.quotes-arrow