section.quotes 
    .container 
        .quotes-container 
            //- i.fa.fa-angle-left.quotes-angle-left.quotes-arrow
            +quoteItem("../../images/img-quote-avatar.png", true)
            +quoteItem("../../images/img-quote-avatar.png", true)
            +quoteItem("../../images/img-quote-avatar.png", true)
            //- i.fa.fa-angle-right.quotes-angle-right.quotes-arrow